.glass
{
    background: rgba(255,255,255,0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255,255,255,0.1) ;
    @apply border-4 border-whiteSmoke shrink-0 h-full md:h-3/4 w-[30%] rounded-3xl px-7 min-w-max
}

.profile_img
{
    @apply w-[135px] rounded-full shadow-lg  cursor-pointer;
    @apply hover:border-lightGreen
}
.textbox
{
    @apply border-0 px-5 py-1 rounded-xl w-full  text-lg;
    @apply focus:outline-none;
}

input[type='file']
{
    display: none;

}